{% extends 'base.html' %}

{% block title %}Masculead{% endblock %}

{% block content %}
<h1>{{_('about_title')}}</h1>
<div class="team-container">
    {% for person in team %}
    <div class="member-card">
        <img src="{{ url_for('static', filename='img/' ~ person.image) }}" class="card-img-top member-img" alt="{{ _('person_name_' + person.id) }}">
        <div class="card-body">
            <h5 class="card-title">{{ _('person_name_' + person.id) }}</h5>
            <a href="{{ person.link }}" target="_blank">{{ person.link }}</a>
            <h6 class="card-subtitle mb-2 text-muted">{{ _('person_role_' + person.id) }}</h6>
            <p class="card-text">{{ _('person_description_' + person.id) }}</p>
        </div>
    </div>
    {% endfor %}
</div>
    <div class="card">
        <h3>{{ _('foot_card_1') }}</h3>
    <p>{{ _('foot_card_2')|safe }}</p>
    <p>{{ _('foot_card_3')|safe }}</p>
    <p>{{ _('foot_card_4') }}</p>
    </div>
{% endblock %}
