<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Masculead{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header class="navbar">
        <div class="nav-content">
            <div class="logo">
                <a href="/"><img src="{{ url_for('static', filename='logo_loria.png') }}" alt="Logo"></a>
            </div>
            <nav class="nav-links">
                <a href="/">{{ _('Home') }}</a>
                <div class="dropdown">
                    <button class="dropbtn">{{ _('Leaderboard') }}▾</button>
                    <div class="dropdown-content">
                        <a href="/leaderboard_global">{{ _('Global') }}</a>
                        <a href="/leaderboard_neutral">{{ _('Neutral') }}</a>
                        <a href="/leaderboard_gendered">{{ _('Gendered') }}</a>
                    </div>
                </div>
                <a href="/upload">{{ _('Upload') }}</a>
                <a href="/faqs">{{ _('FAQs') }}</a>
                <a href="/about">{{ _('About Us') }}</a>
                <div class="dropdown">
                    <button class="dropbtn">
                        {% if get_locale() == 'fr' %}
                            fr▾
                        {% else %}
                            en▾
                        {% endif %}
                    </button>
                    <div class="dropdown-content">
                        {% if get_locale() == 'fr' %}
                            <a href="/set_language/en">en</a>
                        {% else %}
                            <a href="/set_language/fr">fr</a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <!-- Contenu principal -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <script>
        // Sélectionnez tous les menus déroulants
        const dropdowns = document.querySelectorAll('.dropdown');
        let timeoutId;
    
        dropdowns.forEach(dropdown => {
            // Lorsque la souris entre dans le menu déroulant
            dropdown.addEventListener('mouseenter', () => {
                clearTimeout(timeoutId); // Empêche la fermeture immédiate
                dropdown.querySelector('.dropdown-content').style.display = 'block';
            });
    
            // Lorsque la souris quitte le menu déroulant
            dropdown.addEventListener('mouseleave', () => {
                // Garde le menu ouvert pendant 300ms après avoir quitté
                timeoutId = setTimeout(() => {
                    dropdown.querySelector('.dropdown-content').style.display = 'none';
                }, 300);
            });
        });
    </script>
</body>
</html>
