<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon site{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header class="navbar">
        <div class="nav-content">
            <div class="logo">
                <a href="/"><img src="{{ url_for('static', filename='logo_loria.png') }}" alt="Logo"></a>
            </div>
            <nav class="nav-links">
                <a href="/">Accueil</a>
                <div class="dropdown">
                    <button class="dropbtn">Leaderboard ▾</button>
                    <div class="dropdown-content">
                        <a href="/leaderboard_global">Global</a>
                        <a href="/leaderboard_neutral">Neutral</a>
                        <a href="/leaderboard_gendered">Gendered</a>
                    </div>
                </div>
                <a href="/upload">Upload</a>
                <a href="/about">About Us</a>
            </nav>
        </div>
    </header>

    <!-- Contenu principal -->
    <main class="content">
        {% block content %}{% endblock %}
    </main>
    <script>
        const dropdown = document.querySelector('.dropdown');
        let timeoutId;
    
        dropdown.addEventListener('mouseenter', () => {
            clearTimeout(timeoutId); // Empêche la fermeture immédiate
            dropdown.querySelector('.dropdown-content').style.display = 'block';
        });
    
        dropdown.addEventListener('mouseleave', () => {
            // Garde le menu ouvert pendant 300ms après avoir quitté
            timeoutId = setTimeout(() => {
                dropdown.querySelector('.dropdown-content').style.display = 'none';
            }, 300);
        });
    </script>
</body>
</html>
