{% extends 'base.html' %}

{% block title %}Masculead{% endblock %}

{% block content %}

    <div class="home-content">
        <h1>{{ _('qun')}}</h1>

        <p class="lead">{{ _('run')}} </p>

        <h2>{{ _('qdeux')}}</h2>

        <p class="lead">
            {{ _('rdeux')}}
            {{ _('rdeux_ex')}}
        </p>
        

     <h2>{{ _('qtrois_t')}}</h2>

        <h3>{{ _('qtrois')}}</h3>

        <p class="lead">{{ _('rtrois')}}</p>

        <h3>{{ _('qquatre')}}</h3>
        <p class="lead">
            {{ _('rquatre')}}
        </p>

     <h2> MascuLead </h2>

        <p class="lead">{{ _('rcinq')}} (lien à venir).</p>

</div>
{% endblock %}
