{% extends 'base.html' %}

{% block title %}Accueil{% endblock %}

{% block content %}
    <div class="home-background">
        <h1>Bienvenue sur notre site web</h1>
        <div class="card">
            <h3>Qu'est-ce que nous faisons ?</h3>
            <p>Nous permettons l’analyse de fichiers CSV pour extraire des informations et effectuer des calculs spécifiques.</p>
        </div>
        <div class="card">
            <h3>Comment ça marche ?</h3>
            <p>Il vous suffit d’uploader un fichier CSV et notre algorithme s'occupe du reste !</p>
        </div>
    </div>
{% endblock %}
