{% extends 'base.html' %}

{% block title %}Masculead{% endblock %}

{% block content %}
<div class="home-background">
    <div class="home-content">
        <h1>{{ _('titre_menu') }}</h1>
        <p class="lead">
            {{_('home_lead')}}
        </p>
        <<img src="static/img/fr_ex_prompt_300dpi.png" class="card-img-top member-img" alt="Example of generation">
        
        <div class="feature-cards">
            <div class="card">
                <h3>{{ _('1st') }}</h3>
                <p>{{_('1st_step')|safe}}</p>
            </div>
            <div class="card">
                <h3>{{_('2nd')}}</h3>
                <p>
                    {{_('2nd_step')|safe}}
                </p><br><br>
                <a href="/upload" class="btn-outline-primary">{{_('btn_upload')|safe}}</a>
            </div>
            <div class="card">
                <h3>{{_('3rd')}}</h3>
                <p>
                    {{_('3rd_step')}}
                </p>
                <a href="/leaderboard_global" class="btn-outline-primary">{{_('see_btn')}}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
