{% extends 'base.html' %}

{% block title %}Masculead{% endblock %}

{% block content %}
<div class="home-background">
    <div class="home-content">
        <h1>Welcome to Masculead, an interactive leaderboard</h1>
        <p class="lead">
            This website allows you to evaluate <b>gender biases</b> of language models for <b>French</b> texts, using the GenderGap and/or GenderShift metrics. The computed results can then be added to <i>MascuLead</i>, our leaderboard!
        </p>
        
        <div class="feature-cards">
            <div class="card">
                <h3>1st Step: Generate some cover letters</h3>
                <p>
                    Go to <a href=https://github.com/FannyDucel/GenderBiasCoverLetter target="_blank"> the GitHub repository </a> and use the <a href="https://github.com/FannyDucel/GenderBiasCoverLetter/blob/main/src/generation.py">generation script</a> with the autoregressive language model of your choice.
                </p>
            </div>
            <div class="card">
                <h3>2nd Step: Automatically annotate the generations</h3>
                <p>
                    You can either go to the Upload page, put your generations file and select "no" for the annotation question. After some time, you will get the bias metrics.
                    Otherwise, you can run the <a href="https://github.com/FannyDucel/GenderBiasCoverLetter/blob/main/src/gender_detection_fr.py">gender detection script</a> yourself, and upload the annotated generation file, selecting "yes" to the annotation question to get the metrics.

                </p>
                <a href="/upload" class="btn-outline-primary">Upload your csv</a>
            </div>
            <div class="card">
                <h3>3rd Step: Compare your results</h3>
                <p>
                    Now you can check your results in the leaderboard.
                    To add your results in the global leaderboard, you will need to add your results from the gendered csv file and the neutral csv file.
                </p>
                <a href="/leaderboard_global" class="btn-outline-primary">See Masculead</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
